*{
    margin:0;
    border:0;
}
html,body{
    height:100%;
    width:100%;
}
body{
    background-color: rgb(156, 235, 208);
}
#header{
    height:50px;
    width:100%;
    background-color: white;
    border-color: black;
    border-style: groove;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align:center;
    place-items: center;


}
#footer{
    height:50px;
    width:100%;
    background-color: white;
    border-color: black;
    position: absolute;
    bottom:0;
    border-style: groove;

}
#home{
    height:40px;
    width:100px;
    background-color: antiquewhite;
    border-radius: 20px;
    border-color: black;
    border-style: double;
    border-width: 2px;
}
#home:hover{
    background-color: red;
}
#about{
    height:40px;
    width:100px;
    background-color: antiquewhite;
    border-radius: 20px;
    border-color: black;
    border-style: double;
    border-width: 2px;
}
#about:hover{
    background-color: red;
}
#darkmode{
    height:40px;
    width:100px;
    background-color: antiquewhite;
    border-radius: 20px;
    border-color: black;
    border-style: double;
    border-width: 2px;
}
#darkmode:hover{
    background-color: red;
}
#lightmode{
    height:40px;
    width:100px;
    background-color: antiquewhite;
    border-radius: 20px;
    border-color: black;
    border-style: double;
    border-width: 2px;
}
#lightmode:hover{
    background-color: red;
}
#homefont{
    position:absolute;
    margin-top:10px;
    margin-left: 31px;
}
#homefont:hover{
    background-color: red;
}
#Aboutfont{
    position:absolute;
    margin-top:10px;
    margin-left: 31px;
}
#Aboutfont:hover{
    background-color: red;
}
#Darkfont{
    position:absolute;
    margin-top:10px;
    margin-left: 20px;
}
#Darkfont:hover{
    background-color: red;
}
#Lightfont{
    position:absolute;
    margin-top:10px;
    margin-left: 20px;

}
#Lightfont:hover{
    background-color: red;
}
#div{
    background-color: cadetblue;
    height:30px;
    width:150px;
    position:absolute;
    display: flex;
    align-items: center;
    left:48%;
    top:20%;
    text-align: center;
}
#todo{
    position: absolute;
    left:28%;
}
#maindiv{
    height:200px;
    width:40%;
    background-color: chocolate;
    position: absolute;
    left:34%;
    top:30%;
    display: flexbox;
    justify-content: space-around;
    align-items: center;
}
#input{
    position: absolute;
    left:30%;
    top:20%;
}
#button1{
    position: absolute;
    left:70%;
    top:20%;
}